@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    --verde-oscuro: #072C14;
    --verde-medio: #7BA004;
    --verde-claro: #A7D129;
    --oscuro-texto: #1A1A19;
    --claro-texto: #ECECEC;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 75px;
}

/* CABECERA */
.cabecera,
.cabecera__contenedor,
.navegacion__lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.625rem 3.625rem;
    background-color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-style: normal;
}
.cabecera__contenedor{
    gap: 10px;
}
.cabecera__logo{
    max-height: 50px;
    max-width: 50px;
}
.navegacion__lista{
    list-style: none;
    gap: 20px;
}
.navegacion__enlace:hover{
    color: #A7D129;
}
.cabecera__contacto {
    display: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--verde-claro);
    border: 2px solid var(--verde-claro);
    box-shadow: 0 1px var(--verde-medio);
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
}
.cabecera__contacto:hover {
    background-color: #FFF;
    color: var(--verde-claro);
    transform: translateY(2px);
}

/* PRESENTACIÓN */
.presentacion{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 30px;
    background-image: url(../img/fondo-presentacion.png);
    width: 100%;
    padding: 5rem 3.625rem 5rem 0rem;
}
.presentacion__redes-contenedor{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    padding: 0.25rem 0.5rem;
}
.redes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.redes__icono{
    width: auto;
    height: 35px;
    transition: transform 0.3s ease;
}
.redes__icono:hover {
    transform: scale(1.2);
}
.presentacion__foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 0.25rem;
    transition: transform 0.3s ease;
}
.presentacion__foto:hover {
    transform: scale(1.2);
}
.presentacion__datos-contenedor{
    line-height: 1.5;
    padding: 0 2rem;
}
.presentacion__titulo{
    text-align: justify;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    padding-bottom:1rem;
}
.presentacion__subtitulo{
    text-align: start;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    padding-bottom:1.5rem;
}

/* SOBRE MI */
.sobre-mi{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;
    padding: .5rem 2rem;
}
.sobre-mi__contenido{
    text-align: start;
    padding-left: 2rem;
    line-height: 1.5;
}
.sobre-mi__titulo{
    padding-bottom: 1rem;
}
.sobre-mi__texto{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
.sobre-mi__img{
    width: 15rem;
    transition: transform 0.3s ease-in-out;
}
.sobre-mi__img:hover {
    transform: rotate(-3deg);
}

/* SKILLS/HOBBIES */
.skills, .hobbies{
    width: 100%;
    background-color: #000;
    padding: 1.5rem 4rem;
    color: var(--claro-texto);
}
.skills__titulo, .hobbies__titulo{
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-shadow: 
        0 0 10px var(--verde-claro), 
        0 0 20px var(--verde-medio), 
        0 0 40px var(--verde-oscuro);
    text-align: start;
    padding-bottom: 1.5rem;
}
.skills__lista, .hobbies__lista{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.skills__lista li, .hobbies__lista li{
    flex: 1;
}
.skills__icono, .hobbies__icono{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 
        0 0 10px var(--verde-claro),
        0 0 20px var(--verde-medio),
        0 0 40px var(--verde-oscuro);
}
.skills__icono:hover,
.hobbies__icono:hover {
    transform: scale(1.1);
    box-shadow: 
      0 0 20px var(--verde-claro), 
      0 0 40px var(--verde-medio), 
      0 0 60px var(--verde-oscuro);
}
.skills__nombre, .hobbies__nombre{
    padding-top: 1rem;
    color: var(--verde-claro);
}

/* FORMACIÓN */
.formacion{
    background-image: url(../img/fondo-formacion.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    padding: 6rem 3.625rem;
}
.sobre-mi__titulo,
.formacion__titulo,
.proyectos__titulo{
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: var(--verde-medio);
}
.formacion__lista{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.formacion__elemento{
    background-color: #FFF;
    border: 1px solid var(--claro-texto);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    max-width: 300px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}
.formacion__elemento:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.formacion__icono{
    width: auto;
    height: 6rem;
    padding-bottom: 1rem;
}

/* PROYECTOS */
.proyectos{
    padding: 3rem 3.625rem;
}
.proyecto{
    display: flex;
    gap: 1rem;
    padding-top: 3rem;
}
.proyecto__figure{
    border: 1px solid var(--verde-claro);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: start;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proyecto__figure-img{
    width: 85%;
    height: auto;
    padding: 1rem;
}
.proyecto__tecnologias{
    width: 100%;
    background-color: #000;
    border-radius: 0 0 8px 8px;
    border: 1px solid var(--verde-claro);
}
.proyecto__subtitulo{
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    text-align: start;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    color: var(--claro-texto);
}
.tecnologias__lista{
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
    padding: .5rem;
    flex-wrap: wrap;
}
.tecnologia__icono{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid var(--verde-oscuro);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 26px;
    height: 26px;
}
.tecnologia__icono:hover{
    transform: scale(1.1);
    box-shadow: 
      0 0 20px var(--verde-claro), 
      0 0 40px var(--verde-medio), 
      0 0 60px var(--verde-oscuro);
}
.proyecto__informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding-left: .5rem;
    gap: 1rem;
    line-height: 1.5;
}
.proyecto__titulo{
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
}
.proyecto__descripcion{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
.proyecto__enlaces{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
.proyecto__enlaces li {
    flex: 1;
    text-align: center;
}
.proyecto__enlaces a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-weight: bold;
    cursor: pointer;
}
.proyecto__repositorio {
    background-color: var(--verde-claro);
    border: 2px solid var(--verde-claro);
    box-shadow: 0 1px var(--verde-medio);
    color: #FFF;
}
.proyecto__demo {
    background-color: #FFF;
    border: 2px solid var(--verde-claro);
    box-shadow: 0 1px var(--claro-texto);
    color: var(--verde-claro);
}
.proyecto__repositorio:hover,
.proyecto__demo:hover {
    border: 2px solid var(--verde-medio);
    color: var(--verde-medio);
    transform: translateY(2px);
}

@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }
    /* CABECERA */
    .cabecera{
        padding: .5rem 1rem;
    }
    .cabecera__contenedor{
        gap: 5px;
    }
    .cabecera__logo{
        max-height: 40px;
        max-width: 40px;
    }
    .cabecera__contacto {
        padding: 0.25rem;
        font-size: 10px;
    }

    /* PRESENTACIÓN */
    .presentacion{
        flex-direction: column;
        padding: 1rem 0;
        align-items: start;
    }
    .presentacion__foto{
        width: 300px;
        height: 300px;
        padding: 20px;
    }
    .redes{
        flex-direction: row;
    }
    
    /* SOBRE MI */
    .sobre-mi{
        flex-direction: column;
        padding: 1rem 1.5rem 0 2.5rem;
        align-items: start;
    }
    .sobre-mi__contenido,
    .sobre-mi__img{
        padding: 0;
    }

    /* FORMACIÓN */
    .formacion{
        background-image: url(../img/fondo-formacion2.0.png);
        width: 100%;
        height: 100%;
        padding: 6rem 3.625rem;
    }
    .formacion__lista{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 824px) {
    /* CABECERA */
    .navegacion__lista {
        display: none;
    }
    .cabecera__contacto {
        display: inline-block;
    }

    /* PRESENTACIÓN */
    .presentacion__datos-contenedor{
        padding: 0 1.25rem;
    }
    .presentacion__titulo{
        font-size: 12px;
    }
    .presentacion__subtitulo{
        font-size: 10px;
    }
    .presentacion__foto{
        width: 150px;
        height: 150px;
    }
    .sobre-mi__contenido{
        text-align: start;
        padding-left: 2rem;
        line-height: 1.5;
    }
    
    /* SOBRE MI */
    .sobre-mi{
        gap: 1rem;
        padding: 1rem 3rem;
    }
    .sobre-mi__contenido{
        padding-left: 1.5rem;
    }
    .sobre-mi__titulo{
        font-size: 12px;
        padding-bottom: 0;
    }
    .sobre-mi__texto{
        font-size: 8px;
    }
    .sobre-mi__img{
        width: 10rem;
        padding-left: 2rem;
    }

    /* SKILLS / HOBBIES */
    .skills__titulo, .hobbies__titulo{
        font-size: 12px;
    }
    .skills__icono, .hobbies__icono{
        height: 32px;
        width: 32px;
    }
    .skills__nombre, .hobbies__nombre{
        font-size: 10px;
    }
    
    /* PROYECTOS */
    .proyecto{
        flex-direction: column;
    }
    .proyecto__informacion{
        padding-left: 0;
        gap: 1rem;
    }
    .proyecto__titulo{
        font-size: 12px;
    }
    .proyecto__descripcion{
        font-size: 10px;
    }
    .proyecto__enlaces{
        font-size: 11px;
    }
}

@media (min-width: 1280px) {
    /* CABECERA */
    .cabecera{
        padding: 0.625rem 6rem;
        font-size: 16px;
    }
    .navegacion__lista{
        gap: 30px;
    }

    /* PRESENTACIÓN */
    .presentacion{
        padding: 5rem 6rem 5rem 0rem;
    }
    .presentacion__redes-contenedor{
        padding: 0.5rem 1rem;
    
    }
    .redes__icono{
        height: 40px;
    }
    .presentacion__foto{
        width: 250px;
        height: 250px;
    }
    .presentacion__datos-contenedor{
        padding: 0 4rem;
    }
    .presentacion__titulo{
        font-size: 25px;
    }
    .presentacion__subtitulo{
        font-size: 18px;
    }
    
    /* SOBRE MI */
    .sobre-mi{
        gap: 2.5rem;
        padding: 1rem 5rem;
    }
    .sobre-mi__titulo{
        font-size: 20px;
    }
    .sobre-mi__texto{
        font-size: 16px;
    }
    .sobre-mi__img{
        width: 20rem;
    }

    /* SKILLS */
    .skills, .hobbies{
        padding: 1.5rem 5rem;
    }
    .skills__titulo, .hobbies__titulo, .proyectos__titulo{
        font-size: 20px;
    }
    .skills__icono, .hobbies__icono{
        height: 50px;
        width: 50px;
    }
    .skills__nombre, .hobbies__nombre{
        font-size: 16px;
    }

    /* FORMACIÓN */
    .formacion{
        padding: 6rem 6rem;
        height: 90vh;
    }
    .formacion__titulo{
        font-size: 20px;
    }
    .formacion__lista{
        padding: 3rem 0;
        gap: 2rem;
    }
    .formacion__elemento{
        padding: 2rem;
        max-width: 400px;
        font-size: 16px;
    }
    .formacion__icono{
        height: 8rem;
    }

    /* PROYECTOS */
    .proyectos{
        padding: 6rem 6rem;
    }
    .proyecto__figure-img{
        width: 100%;
        height: auto;
    }
    .proyecto__subtitulo{
        font-size: 14px;
    }
    .tecnologias__lista{
        padding: 1rem;
    }
    .tecnologia__icono{
        width: 40px;
        height: 40px;
    }
    .proyecto__titulo{
        font-size: 16px;
    }
    .proyecto__descripcion{
        font-size: 15px;
    }
    .proyecto__enlaces{
        font-size: 14px;
    }
}